<nav class="navbar navbar-expand-lg navbar-light " [ngClass]="color ? color : 'bg-light'">
    <div class="container">
        <a class="navbar-brand" href="#">Curso Angular</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Hola Mundo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="color='bg-dark'">Darck</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="color='bg-primary'">Primary</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
